---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Puzzle from '../components/Puzzle.astro';

let title = 'Joseph Abell';
let description = 'CV and Sudoku';
let permalink = 'https://josephabell.co.uk/';

let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => Date.parse(b.publishDate) - Date.parse(a.publishDate));

let allPuzzles = Astro.fetchContent('./puzzles/*.md');
allPuzzles = allPuzzles.sort((a, b) => Date.parse(b.publishDate) - Date.parse(a.publishDate));

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 2rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }

      .puzzles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
      }

      dt {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
      }

      img {
        border-radius: 100000px;
        width: 150px;
        margin: 20px 20px 0;
        display: inline-block;
      }

      .images {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <p>
        Joseph Abell is a full stack typescript developer based in York UK.
        He plays ukulele, sings in a choir, makes electronics, creates <strong>awesome</strong> cocktails,
        and sets sudoku puzzles for his friends. He loves watching Bluey with his daughter.
        </p>
        <p class="images">
          <img src="/gerbils.jpg" alt="Illustration of Joe Abell" />
          <img src="/ladyabell.png" alt="Illutration of Joe's Daughter" />
        </p>
      </article>

      <article>
        <h2>Sudoku</h2>
        <p>If you want to see which difficulty level is for you, read <a href="/difficulty">sudoku difficulty definitions</a>.</p>
        <section class="puzzles">
          {allPuzzles.map(puzzle => <Puzzle puzzle={puzzle} />)}
        </section>
    </div>
  </body>
</html>

